.container {
    position: relative;
}

.back_home {
    position: absolute;
    top: 15px;
    left: 15px;
}

.title {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input {
    padding: 0.65rem;
    outline: none;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
}

.form button {
    cursor: pointer;
    background-color: #9dcae1;
    border: none;
    padding: 0.45rem;
    border-radius: 10px;
    color: #fff;
}

.form button:hover {
    font-weight: bold;
    background-color: #6f9cb5;
    color: #000;
}